
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <style>

        ul.navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #454040;
        }


        ul.navbar li {
            float: right;
            padding: 0 76px;
        }

        ul.navbar li a {
            display: block;
            color: rgb(245, 238, 238);
            text-align: center;
            padding: 14px 40px;
            text-decoration: bold;
        }


        ul.navbar li a:hover {
            background-color: #555;
            
        }
    </style>
</head>
<body>
<ul class="navbar">
    <li><a href="/contact">Contact Data</a></li>
    <li><a href="/data">Donate Data</a></li>
    <li> <a href="/cards">Card Data</a> </li>
   
</ul>

</body>
</html>
